* {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid .5px whitesmoke;
    border-radius: 7px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-image: url('./assets/background.jpg');
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    transform: rotateZ(0);
}