* {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid .5px whitesmoke;
    border-radius: 7px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-image: url('../assets/background.jpg');
    opacity: .8;
}
.shooting_star {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 6px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(50% - 111px);
    left: calc(50% - 45px);
    -webkit-animation-delay: 9737ms;
    animation-delay: 9737ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 9737ms;
    animation-delay: 9737ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - 34px);
    left: calc(50% - 111px);
    -webkit-animation-delay: 6964ms;
    animation-delay: 6964ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 6964ms;
    animation-delay: 6964ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - 46px);
    left: calc(50% - 253px);
    -webkit-animation-delay: 1572ms;
    animation-delay: 1572ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 1572ms;
    animation-delay: 1572ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - 113px);
    left: calc(50% - 110px);
    -webkit-animation-delay: 9188ms;
    animation-delay: 9188ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 9188ms;
    animation-delay: 9188ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - -75px);
    left: calc(50% - 103px);
    -webkit-animation-delay: 5793ms;
    animation-delay: 5793ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 5793ms;
    animation-delay: 5793ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - -63px);
    left: calc(50% - 275px);
    -webkit-animation-delay: 218ms;
    animation-delay: 218ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 218ms;
    animation-delay: 218ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - -189px);
    left: calc(50% - 173px);
    -webkit-animation-delay: 5658ms;
    animation-delay: 5658ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 5658ms;
    animation-delay: 5658ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - -113px);
    left: calc(50% - 159px);
    -webkit-animation-delay: 1674ms;
    animation-delay: 1674ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 1674ms;
    animation-delay: 1674ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - -116px);
    left: calc(50% - 69px);
    -webkit-animation-delay: 7893ms;
    animation-delay: 7893ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 7893ms;
    animation-delay: 7893ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - 104px);
    left: calc(50% - 188px);
    -webkit-animation-delay: 6009ms;
    animation-delay: 6009ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 6009ms;
    animation-delay: 6009ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - -166px);
    left: calc(50% - 7px);
    -webkit-animation-delay: 6845ms;
    animation-delay: 6845ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 6845ms;
    animation-delay: 6845ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - 88px);
    left: calc(50% - 65px);
    -webkit-animation-delay: 5929ms;
    animation-delay: 5929ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 5929ms;
    animation-delay: 5929ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - -170px);
    left: calc(50% - 145px);
    -webkit-animation-delay: 9775ms;
    animation-delay: 9775ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 9775ms;
    animation-delay: 9775ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - 151px);
    left: calc(50% - 16px);
    -webkit-animation-delay: 1240ms;
    animation-delay: 1240ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 1240ms;
    animation-delay: 1240ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - 157px);
    left: calc(50% - 55px);
    -webkit-animation-delay: 3948ms;
    animation-delay: 3948ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 3948ms;
    animation-delay: 3948ms;
}

.shooting_star:nth-child(16) {
    top: calc(50% - 31px);
    left: calc(50% - 149px);
    -webkit-animation-delay: 3609ms;
    animation-delay: 3609ms;
}

.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 3609ms;
    animation-delay: 3609ms;
}

.shooting_star:nth-child(17) {
    top: calc(50% - -152px);
    left: calc(50% - 202px);
    -webkit-animation-delay: 5005ms;
    animation-delay: 5005ms;
}

.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 5005ms;
    animation-delay: 5005ms;
}

.shooting_star:nth-child(18) {
    top: calc(50% - 98px);
    left: calc(50% - 256px);
    -webkit-animation-delay: 4683ms;
    animation-delay: 4683ms;
}

.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 4683ms;
    animation-delay: 4683ms;
}

.shooting_star:nth-child(19) {
    top: calc(50% - -18px);
    left: calc(50% - 56px);
    -webkit-animation-delay: 9085ms;
    animation-delay: 9085ms;
}

.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 9085ms;
    animation-delay: 9085ms;
}

.shooting_star:nth-child(20) {
    top: calc(50% - -93px);
    left: calc(50% - 201px);
    -webkit-animation-delay: 4538ms;
    animation-delay: 4538ms;
}

.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 4538ms;
    animation-delay: 4538ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}